@-ms-viewport { /*ekvivalentný zápis toho meta tagu pre iphony, ktorý je v html, toto je pre windows phone */
    width: 960px;
    zoom: 3; /*ekvivalent scale*/
    max-zoom: 5; /*ekvivalent max scale*/
    min-zoom: 1; /*ekvivalent min scale*/ 
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;  /*zabezpečí dedenie box sizingu od rodiča*/
}

/*clearfix*/
.group:before,
.group:after {
    content: " "; 
    display: table; 
}

.group:after {
    clear: both;
}

body {
    max-width: 960px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}